body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #F4F6F8;
    color: #232933;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #232933;
    margin-bottom: 20px;
    font-weight: 700;
}

a {
    color: #1F76B8;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s, text-decoration 0.2s;
}

a:hover, a:focus {
    color: #15518A;
    text-decoration: underline;
}

p {
    font-size: 1.1em;
    margin-top: 20px;
    color: #232933;
}